extends layout

block content

  if !projects.length

    p Sorry, no Projects are willing to kickstart their GUI :/

  else

    ul
      each project in projects

        li

          h2

            if project.wip 
              span [WIP] 

            if project.url
              a( href=project.url )= project.name

            else
              #{project.name}

            if project._score
              strong  #{project._score}*

          p Suggested: #{project.created_at}
          p Description: #{project.description}

          if project.picture
            img( src="http://src.sencha.io/100/100/" + project.picture )

          if project.languages
            p Languages:
            ul
              each language in project.languages
                li= project_options.languages[language]

          if project.buildsystems
            p Build-Systems:
            ul
              each buildsystem in project.buildsystems
                li= project_options.buildsystems[buildsystem]

          if project.references

            dl

              each description, url in project.references

                dt
                  a( href=url )= url

                if description
                  dd= description

          if user

            form( action="/my/" + project.id, method="post" )

              if project._voted

                input( type="hidden", name="_method", value="delete" )
                button( type="submit" ) Uhm, no :/

              else

                button( type="submit" ) Arr, Yes!!

          if user && user.ident === project.created_by

            form( action=project.id, method="post" )

              input( type="hidden", name="_method", value="put" )

              if project.wip

                input( type="hidden", name="wip", value="0" )
                button( type="submit" ) We're still looking!

              else

                input( type="hidden", name="wip", value="1" )
                button( type="submit" ) Great, we have a Frontend-Dude

  if user

    form( action="/", method="post" )

      p
        label( for="project_name" ) Name:
        input( type="text", name="project[name]", id="project_name", placeholder="What's the Name of your Project?" )


      p
        label( for="project_url" ) Url:
        input( type="text", name="project[url]", id="project_url", placeholder="Where can others find your Project?" )

      p
        label( for="project_description" ) Description:
        input( type="text", name="project[description]", id="project_description", placeholder="Describe your Project with a few words ..." )

      p
        label( for="project_picture" ) Picture:
        input( type="text", name="project[picture]", id="project_picture", placeholder="Path to a Picture, Screenshot or Logo?" )

      p
        span Used Languages:
        ul

          each language, key in project_options.languages

            li
              label( for="project_language_" + key )
                input( type="checkbox", name="project[languages][]", value=key )
                span= language

      p
        span Used Buildsystems:
        ul

          each buildsystem, key in project_options.buildsystems

            li
              label( for="project_buildsystem_" + key )
                input( type="checkbox", name="project[buildsystems][]", value=key )
                span= buildsystem

      p References

      dl

        dt
          input( type="text", name="project[references][0][url]", placeholder="http://host.tld/path/to/project/description" )
        dd
          input( type="text", name="project[references][0][desc]", placeholder="Additional Description" )

        dt 
          input( type="text", name="project[references][1][url]" )
        dd
          input( type="text", name="project[references][1][desc]" )

        dt 
          input( type="text", name="project[references][2][url]" )
        dd
          input( type="text", name="project[references][2][desc]" )

        dt 
          input( type="text", name="project[references][3][url]" )
        dd
          input( type="text", name="project[references][3][desc]" )

        dt 
          input( type="text", name="project[references][4][url]" )
        dd
          input( type="text", name="project[references][4][desc]" )

      p
        button( type="submit" ) Kickstart
